In [2]:
# 필요한 모듈들
import time
import re
import os
import csv
import os.path
import json
import random
from tqdm import tqdm
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta
from datetime import datetime, timedelta
from ekonlpy import Mecab
mecab = Mecab()
#!wget https://raw.githubusercontent.com/byungjooyoo/Dataset/main/korean_stopwords.txt
with open('korean_stopwords.txt', 'r') as f:
    stop_words = f.read().split("\n")

In [ ]:
with open('/home/user/pandas/Recommendation_system/data/news_contents.csv', 'r') as file:
    reader = csv.reader(file)
    lines = [line for line in reader]
info = []
for i in lines[1:]:
  temp = ''.join(i)
  temp_1 = temp.split("_[이성현]_")
  if len(temp_1) == 12:
    info.append(temp_1)
values = info
article_df = pd.DataFrame(values)
article_df.columns = lines[0]

In [ ]:
len(values)

In [ ]:
article_df.head()

In [ ]:
#!wget https://raw.githubusercontent.com/byungjooyoo/Dataset/main/korean_stopwords.txt
with open('korean_stopwords.txt', 'r') as f:
    stop_words = f.read().split("\n")

In [ ]:
def extract_journalist_names(text):
    pattern = re.compile(r'(?:(?:워싱턴|대전)=)?([가-힣\s]+)(?:\s*(?:특파원|기자))?')
    matches = pattern.findall(text)
    with open('stopwords.txt', 'r') as f:
        stop_words = f.read().split("\n")
    journalist_names = []
    for match in matches:
        name = re.sub(r'(?:워싱턴|대전)=|(?:특파원)', '', match).strip()
        for remove in stop_words:
            name = name.replace(remove,'')
        journalist_names.append(name)


    return journalist_names

article_df["reporter"] = article_df["reporter"].apply(lambda x: ','.join(extract_journalist_names(x)))

article_df

In [ ]:
for index, row in article_df.iterrows():
  if len(row["reporter"]) != 3:
    target = row["reporter"]
    print(target)
    target = target.replace("기자",'')
    article_df.loc[index,"reporter"] = target

In [ ]:
for index, row in article_df.iterrows():
  target = row["reporter"]
  if len(row["reporter"]) != 3:
    print(target)
    target = target.replace("한경닷컴",'')
    target = target.replace("외신캐스터",'')
    target = target.replace("게임진",'')
    target = target.replace("매경닷컴",'')
    target = target.replace("특파원",'')
    target = target.replace("여행전문",'')
    target = target.replace("뉴스에디터",'')
    target = target.replace("글,사진,샌프란시스코,",'')
    target = target.replace("샌프란시스코,",'')
    target = target.replace("삼성증권 수석연구위원,",'')
    target = target.replace("파리,프랑스,",'')
    target = target.replace("한국상장사협의회 정책부회장",'')
    target = target.replace("신영증권 헤리티지사업부 세무사",'')
    target = target.replace("유안타증권,센터 분당 과장",'')
    target = target.replace("하나증권 연구위원",'')
    target = target.replace("스파크랩 대표",'')
    target = target.replace("중기",'')
    target = target.replace("선임",'')
    target = target.replace("투자증권 연구원",'')
    target = target.replace("마켓분석부장",'')
    target = target.replace("연구위원",'')
    target = target.replace("매경비즈",'')
    target = target.replace("실리콘밸리,",'')
    target = target.replace("베이징",'')
    target = target.replace("세종",'')
    target = target.replace("뉴욕",'')
    target = target.replace("오산",'')
    target = target.replace("부산",'')
    target = target.replace("제주",'')
    target = target.replace(",,",',')
    target = target.strip()
    article_df.loc[index,"reporter"] = target

In [ ]:
for index, row in article_df.iterrows():
  target = row["reporter"]
  if len(target) != 3:
    print(target)
    target = target.replace('논설위원','')
    target = target.replace('동물문화전문','')
    target = target.replace('인턴','')
    target = target.replace('디지털매일','')
    target = target.replace('한경비즈니스','')
    target = target.replace('기후환경전문','')
    target = target.replace('용인,경기,','')
    target = target.replace('디지털매일','')
    target = target.replace('스타투데이','')
    target = target.replace('전주,','')
    target = target.replace('전문,','')
    target = target.replace('울산,','')
    target = target.replace('데일리안,','')
    target = target.replace('안동,','')
    target = target.replace('노컷뉴스','')
    article_df.loc[index,"reporter"] = target

In [ ]:
for index, row in article_df.iterrows():
  target = row["reporter"]
  if len(target) != 3 :
    print(target)
    target = target.replace('독일 베를린,데일리안 ','')
    target = target.replace(' 디자이너 ','')
    target = target.replace(' 제공 ','')
    target = target.replace(' 전문 ','')
    target = target.replace('사진,','')
    target = target.replace(' 기획위원 ','')
    target = target.replace('산업,부','')
    target = target.replace('  편집인 ','')
    target = target.replace(' 전문 ','')
    target = target.replace('거제,경남,데일리안 ','')
    target = target.replace('독일 베를린,데일리 ','')
    target = target.replace('베를린,글,사진 ','')
    target = target.replace(' 뮌헨','')
    target = target.replace(' 뮌헨','')
    target = target.replace(' 경제전문','')
    target = target.replace(' 삼성증권 수석','')
    target = target.replace('중국 ','')
    article_df.loc[index,"reporter"] = target

In [ ]:
for index, row in article_df.iterrows():
  target = row["reporter"]
  if len(target) != 3:
    print(target)
    target = target.replace('베를린,독일','')
    target = target.replace('베를린,','')
    target = target.replace('뮌헨,','')
    target = target.replace('전문','')
    target = target.replace('창원,','')
    target = target.replace('도쿄,','')
    target = target.replace('인천,','')
    target = target.replace('편집장','')
    target = target.replace('디자이너','')
    target = target.replace('대구,','')
    target = target.replace('안산,경기,','')
    target = target.replace('후쿠시마,','')
    target = target.replace('디지털뉴스센터','')
    target = target.replace('수습','')
    target = target.replace('차장','')
    target = target.replace('편집인','')
    target = target.replace(',전문','')
    target = target.replace('한양대특임교수','')

    article_df.loc[index,"reporter"] = target

In [ ]:
for index, row in article_df.iterrows():
  target = row["reporter"]
  if len(target) != 3 and target[0] == ",":
    target = target.replace(',','')
    print(target,index)
    article_df.loc[index,"reporter"] = target

In [ ]:
article_df[article_df["reporter"]== ""].index

In [ ]:
article_df = article_df.drop(article_df[article_df["reporter"]== ""].index)

In [ ]:
for index, row in article_df.iterrows():
  target = row["reporter"]
  if len(target) != 3 and target != "황보준엽" and target != "윤호" and target != "김사무엘" and target != "문지웅,차창희" and target != "이충희,심우일" and target != "김미리내" and target != "남궁선희" and target != "남궁민관" and target != "국제뉴스" and target != "연합뉴스" and target != "한국일보" and target != "윤경환,심기문,정다은":
    print(target)
    target = target.replace(',부사장','')
    target = target.replace('제공','')
    target = target.replace('페낭,말레이시아,','')
    target = target.replace('호주,','')
    target = target.replace('천안,','')
    target = target.replace('다윈,','')
    target = target.replace('서귀포,','')
    target = target.replace('호주다윈,','')
    target = target.replace('시드니,','')
    target = target.replace('통영,','')
    target = target.replace('오트웨이,','')
    target = target.replace('호주오트웨이,','')
    target = target.replace('멜버른,호주,','')


    article_df.loc[index,"reporter"] = target

In [ ]:
for index, row in article_df.iterrows():
  target = row["reporter"]
  if len(target) != 3:
    print(target)
    target = target.replace('베를린,독일','')
    target = target.replace('베를린,','')
    target = target.replace('뮌헨,','')
    target = target.replace('전문','')
    target = target.replace('창원,','')
    target = target.replace('도쿄,','')
    target = target.replace('인천,','')
    target = target.replace('편집장','')
    target = target.replace('디자이너','')
    target = target.replace('대구,','')
    target = target.replace('안산,경기,','')
    target = target.replace('후쿠시마,','')
    target = target.replace('디지털뉴스센터','')
    target = target.replace('수습','')
    target = target.replace('차장','')
    target = target.replace('편집인','')
    target = target.replace(',전문','')
    target = target.replace('한양대특임교수','')

    article_df.loc[index,"reporter"] = target

In [ ]:
article_df

In [ ]:
for index, row in article_df.iterrows():
  target = row["reporter"]
  if len(target) != 3:
    print(target)
    target = target.replace('경남,','')
    target = target.replace('잘츠부르크,','')
    target = target.replace('글,사진,','')
    target = target.replace('과천,','')
    target = target.replace('파주,','')
    target = target.replace('파리,','')
    target = target.replace('거제,','')
    target = target.replace('함안,','')
    target = target.replace('화성,','')
    target = target.replace('파리,','')
    target = target.replace('독일,','')
    target = target.replace('뮌헨','')
    target = target.replace('온라인','')
    target = target.replace('산업부문콘텐츠매니저','')
    target = target.replace('군사','')
    target = target.replace('파리,','')
    target = target.replace('로스앤젤레,','')
    target = target.replace('로스앤젤레스,','')
    target = target.replace('라스베이거스,','')

    article_df.loc[index,"reporter"] = target

In [ ]:
for index, row in article_df.iterrows():
  target = row["reporter"]
  if len(target) != 3 and target[-1] ==' ':
    print(target,index)
    target = target.replace(" ",'')
    article_df.loc[index,"reporter"] = target

In [ ]:
for index, row in article_df.iterrows():
  target = row["reporter"]
  if len(target) != 2 and len(target) != 3 and target != "김사무엘" and target != "김미리내" and target != "남궁선희" and target != "남궁민관" and target != "국제뉴스" and target != "연합뉴스" and target != "한국일보" and target != "윤경환,심기문,정다은" and target != "박승희,한유주,이비슬" and target != "이충희,심우일" and target != "심기문,서종갑,윤경환" and target != "문지웅,차창희"and target != "박형기,김민수" :
    if target != "김사무엘" and target != "조윤희,전형민" and target != "김사무엘" and target != "윤경환,성채윤" and target != "윤경환,성채윤" and target != "윤경환,성채윤" and target != "이태규,노현섭,우영탁":
      print(target,index)
      target = target.replace('영암,','')
      target = target.replace('시흥,','')
      target = target.replace('안산,','')
      target = target.replace('안양,','')
      target = target.replace('동아닷컴,','')
      target = target.replace(',,',',')
      target = target.replace('완주,,','')
      target = target.replace('스톤브릿지벤처스상무,','')
      target = target.replace('동아닷컴','')
      target = target.replace('스톤브릿지벤처스상무,','')
      target = target.replace('기획위원','')
      target = target.replace('독일데일리안','')
      target = target.replace('글,','')
      target = target.replace('포항,','')
      target = target.replace('암스테르담,','')
      target = target.replace('사진,','')
      target = target.replace('송도,','')
      target = target.replace('데일리안,','')
      target = target.replace('오송,충북,','')
      target = target.replace('경북,','')
      target = target.replace('독일데일리','')
      target = target.replace('데일리안','')
      target = target.replace('칠곡,','')
      target = target.replace('여행플러스','')
      target = target.replace('작가','')
      target = target.replace('광양,','')
      target = target.replace('사진','')
      target = target.replace('프리랜서','')
      target = target.replace('삼성증권수석','')
      target = target.replace('중국','')
      target = target.replace('양양,','')
      target = target.replace('홍천,','')
      target = target.replace('스톤브릿지벤처스상','')
      target = target.replace('소풍벤처스파트너','')
      target = target.replace('영상정보부장','')
      target = target.replace('유통산업부장','')
      target = target.replace('패션칼럼니스트','')
      target = target.replace('고양,','')
      target = target.replace('울릉도,','')
      target = target.replace('공용','')
    article_df.loc[index,"reporter"] = target

In [ ]:
for index, row in article_df.iterrows():
  target = row["reporter"]
  if len(target) != 2 and len(target) != 3 and target != "김사무엘" and target != "김미리내" and target != "남궁선희" and target != "남궁민관" and target != "국제뉴스" and target != "연합뉴스" and target != "한국일보" and target != "윤경환,심기문,정다은" and target != "박승희,한유주,이비슬" and target != "이충희,심우일" and target != "심기문,서종갑,윤경환" and target != "문지웅,차창희"and target != "박형기,김민수" :
    if target != "김사무엘" and target != "조윤희,전형민" and target != "김사무엘" and target != "윤경환,성채윤" and target != "윤경환,성채윤" and target != "윤경환,성채윤" and target != "이태규,노현섭,우영탁":
      print(target,index)
      target = target.replace('영암,','')
      target = target.replace('시흥,','')
      target = target.replace('안산,','')
      target = target.replace('안양,','')
      target = target.replace('동아닷컴,','')
      target = target.replace(',,',',')
      target = target.replace('완주,,','')
      target = target.replace('스톤브릿지벤처스상무,','')
      target = target.replace('동아닷컴','')
      target = target.replace('스톤브릿지벤처스상무,','')
      target = target.replace('기획위원','')
      target = target.replace('독일데일리안','')
      target = target.replace('글,','')
      target = target.replace('포항,','')
      target = target.replace('암스테르담,','')
      target = target.replace('사진,','')
      target = target.replace('송도,','')
      target = target.replace('데일리안,','')
      target = target.replace('오송,충북,','')
      target = target.replace('경북,','')
      target = target.replace('독일데일리','')
      target = target.replace('데일리안','')
      target = target.replace('칠곡,','')
      target = target.replace('여행플러스','')
      target = target.replace('작가','')
      target = target.replace('광양,','')
      target = target.replace('사진','')
      target = target.replace('프리랜서','')
      target = target.replace('삼성증권수석','')
      target = target.replace('중국','')
      target = target.replace('양양,','')
      target = target.replace('홍천,','')
      target = target.replace('스톤브릿지벤처스상','')
      target = target.replace('소풍벤처스파트너','')
      target = target.replace('영상정보부장','')
      target = target.replace('유통산업부장','')
      target = target.replace('패션칼럼니스트','')
      target = target.replace('고양,','')
      target = target.replace('울릉도,','')
      target = target.replace('공용','')
      target = target.replace(" ",'')
    article_df.loc[index,"reporter"] = target

In [ ]:
for index, row in article_df.iterrows():
  target = row["reporter"]
  if len(target) != 2 and len(target) != 3 and target != "조슬기나" and target != "김사무엘" and target != "김미리내" and target != "남궁선희" and target != "남궁민관" and target != "국제뉴스" and target != "연합뉴스" and target != "한국일보" and target != "윤경환,심기문,정다은" and target != "박승희,한유주,이비슬" and target != "이충희,심우일" and target != "심기문,서종갑,윤경환" and target != "문지웅,차창희"and target != "박형기,김민수" :
    if target != "김사무엘" and target != "조윤희,전형민" and target != "김사무엘" and target != "윤경환,성채윤" and target != "윤경환,성채윤" and target != "윤경환,성채윤" and target != "이태규,노현섭,우영탁":
        if target != "박창영,강두순" and target != "김영필,이완기" and target != "박창영,강두순":
            print(target,index)
            target = target.replace('제일은행강남,센터이사대우','')
            target = target.replace('앨버커키,','')
            target = target.replace('코펜하겐,','')
            target = target.replace('루센트블록부동산총괄이사','')
            target = target.replace('신한은행압구정역기업금융센터부지점장','')
            target = target.replace(',기업은행분당정자역지점,팀장,','')
            target = target.replace('블루밍비트','')
            target = target.replace('하나금융경영연구경영전략연구실장','')
            target = target.replace(',국민은행,투자솔루션부세무사','')
            target = target.replace('엠블록컴퍼니,전성아엠블록컴퍼니','')
            target = target.replace('엠블록컴퍼니','')
            target = target.replace('하이투자증권,센터','')
            target = target.replace('금융부장','')
            target = target.replace('부장','')
            target = target.replace('타이페이,대만,','')
            target = target.replace(',제일은행강남,센터이사대우,','')
            target = target.replace('하나은행자산관리그룹자산관리컨설팅센터세무사','')
            target = target.replace('위원','')
            target = target.replace(',매니징에디터','')
            target = target.replace('싱가포르,','')
            target = target.replace('보보스부동산연구소대표','')
            target = target.replace('싱가포르,','')
            target = target.replace('매경이코노미','')
            target = target.replace('춘천,','')


    article_df.loc[index,"reporter"] = target

In [ ]:
with open("./test.txt", "r") as f:
    example = f.readlines()
for i in example:
    print(i[:-1])

In [ ]:
for index, row in article_df.iterrows():
  target = row["reporter"]
  if len(target) != 2 and len(target) != 3 and target != "조슬기나" and target != "김사무엘" and target != "김미리내" and target != "남궁선희" and target != "남궁민관" and target != "국제뉴스" and target != "연합뉴스" and target != "한국일보" and target != "윤경환,심기문,정다은" and target != "박승희,한유주,이비슬" and target != "이충희,심우일" and target != "심기문,서종갑,윤경환" and target != "문지웅,차창희"and target != "박형기,김민수" :
    if target != "김사무엘" and target != "조윤희,전형민" and target != "김사무엘" and target != "윤경환,성채윤" and target != "윤경환,성채윤" and target != "윤경환,성채윤" and target != "이태규,노현섭,우영탁":
        if target != "박창영,강두순" and target != "김영필,이완기" and target != "박창영,강두순" and target != "황보준엽" and target != "심언기,임용우,신윤하" and target != "김혜지,손승환":
            print(target,index)
            for i in example:
               target = target.replace(i[:-1],'')


    article_df.loc[index,"reporter"] = target

In [ ]:
for index, row in article_df.iterrows():
  target = row["reporter"]
  if "," not in target and len(target) == 9:
    print(target)
    article_df.loc[index,"reporter"] = target

In [ ]:
for index, row in article_df.iterrows():
  target = row["reporter"]
  if "," not in target and len(target) == 6 and target != "한국조폐공사" and target != "프레시안경제" and target != "콘텐츠기획부" and target != "롯데하이마트" and target != "마켓인사이트" and target != "신세계면세점" and target != "신세계백화점" and target != "외고니스외고" and target != "강도원,허진" and target != "디지털뉴스부":
    target = target[:3]+"," + target[3:]
    print(target)
    article_df.loc[index,"reporter"] = target

In [ ]:
for index, row in article_df.iterrows():
  target = row["reporter"]
  if target == "강나현,최무룡이인수,이화영":
    print(target)
    article_df.loc[index,"reporter"] = "강나현,최무룡,이인수,이화영 "

In [ ]:
article_df.isnull().sum()

In [ ]:
article_df = article_df.reset_index(drop=True)

In [ ]:
article_clean_reporter_data_0918 = article_df.to_json(orient='records')

In [ ]:
# JSON 파일로 저장
with open('./data/article_data_reporter.json', 'w') as file:
    file.write(article_clean_reporter_data_0918)

In [ ]:
file.close()

In [2]:
import pandas as pd

In [6]:
article_df = pd.read_json('../data/news/article_data_reporter.json')

article_df.head()

,category,url,date,title,content,media,reporter,touched,analytical,wow,recommend,useful
0,증권,https://n.news.naver.com/mnews/article/057/000...,입력2023.09.13. 오후 7:53수정2023.09.14. 오전 10:51,KT 가입자 146만 명 요금 잘못 빼갔다,【 앵커멘트 】 KT 쓰시는 분들 이번 달 결제된 요금 꼭 확인해 보시기 바랍니다...,MBN,오태윤,0,0,0,5,1
1,증권,https://n.news.naver.com/mnews/article/003/001...,입력2023.09.07. 오후 2:27수정2023.09.07. 오후 3:11,한화에어로스페이스 3853억 규모 한화오션 지분 취득,[서울=뉴시스] 김경택 기자 = 한화에어로스페이스는 한화오션 주식 1723만8522...,뉴시스,김경택,0,0,0,0,0
2,증권,https://n.news.naver.com/mnews/article/016/000...,입력2023.09.05. 오후 2:59수정2023.09.05. 오후 3:31,자이에스앤디 768억 규모 강릉 공동주택 신축사업 수주,[헤럴드경제=증권부] 자이에스앤디는 휴고파트너스와 강릉 송정동 공동주택 신축사업 계...,헤럴드경제,이지윤,0,0,0,0,0
3,증권,https://n.news.naver.com/mnews/article/243/000...,입력2023.09.13. 오후 9:39,[속보] 美 8월 소비자물가 3.7%↑…전월比 0.6%↑,[이코노미스트 마켓in 홍다원 기자] 미국 노동통계국은 13일(현지시간) 8월 소비...,이코노미스트,홍다원,5,0,1,0,0
4,증권,https://n.news.naver.com/mnews/article/015/000...,입력2023.09.13. 오후 9:32수정2023.09.13. 오후 9:41,[속보] 美 8월 CPI 3.7% 상승…시장 예상치 소폭 웃돌아,이 기사는 국내 최대 해외 투자정보 플랫폼 한경 글로벌마켓에 게재된 기사입니다.워싱...,한국경제,정인설,6,3,0,1,0

In [7]:
article_df

,category,url,date,title,content,media,reporter,touched,analytical,wow,recommend,useful
0,증권,https://n.news.naver.com/mnews/article/057/000...,입력2023.09.13. 오후 7:53수정2023.09.14. 오전 10:51,KT 가입자 146만 명 요금 잘못 빼갔다,【 앵커멘트 】 KT 쓰시는 분들 이번 달 결제된 요금 꼭 확인해 보시기 바랍니다...,MBN,오태윤,0,0,0,5,1
1,증권,https://n.news.naver.com/mnews/article/003/001...,입력2023.09.07. 오후 2:27수정2023.09.07. 오후 3:11,한화에어로스페이스 3853억 규모 한화오션 지분 취득,[서울=뉴시스] 김경택 기자 = 한화에어로스페이스는 한화오션 주식 1723만8522...,뉴시스,김경택,0,0,0,0,0
2,증권,https://n.news.naver.com/mnews/article/016/000...,입력2023.09.05. 오후 2:59수정2023.09.05. 오후 3:31,자이에스앤디 768억 규모 강릉 공동주택 신축사업 수주,[헤럴드경제=증권부] 자이에스앤디는 휴고파트너스와 강릉 송정동 공동주택 신축사업 계...,헤럴드경제,이지윤,0,0,0,0,0
3,증권,https://n.news.naver.com/mnews/article/243/000...,입력2023.09.13. 오후 9:39,[속보] 美 8월 소비자물가 3.7%↑…전월比 0.6%↑,[이코노미스트 마켓in 홍다원 기자] 미국 노동통계국은 13일(현지시간) 8월 소비...,이코노미스트,홍다원,5,0,1,0,0
4,증권,https://n.news.naver.com/mnews/article/015/000...,입력2023.09.13. 오후 9:32수정2023.09.13. 오후 9:41,[속보] 美 8월 CPI 3.7% 상승…시장 예상치 소폭 웃돌아,이 기사는 국내 최대 해외 투자정보 플랫폼 한경 글로벌마켓에 게재된 기사입니다.워싱...,한국경제,정인설,6,3,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
120010,경제 일반,https://n.news.naver.com/mnews/article/277/000...,입력2023.08.24. 오전 11:26수정2023.08.24. 오전 11:27,"[속보]이창용 ""가계부채 늘 수 있지만 규제 등 미시적 정책으로 관리""",,아시아경제,서소정,0,0,0,0,0
120011,경제 일반,https://n.news.naver.com/mnews/article/277/000...,입력2023.08.24. 오전 11:22수정2023.08.24. 오전 11:23,"[속보]이창용 ""금통위원 6명 3.75% 인상 가능성 열어둬야""",,아시아경제,서소정,0,0,0,0,0
120012,경제 일반,https://n.news.naver.com/mnews/article/001/001...,입력2023.08.24. 오전 11:19수정2023.08.24. 오후 12:56,일본 원전 오염수 방류 임박…충남도 원자력연과 대응 TF 구성,환경정화운반선에도 해수 검사 장비…결과 누리집·전광판에 공개김태흠 일본 원전 오염수...,연합뉴스,김소연,0,0,0,0,0
120013,경제 일반,https://n.news.naver.com/mnews/article/016/000...,입력2023.08.24. 오전 11:18,한국지역난방공사‘에너지 히어로 레이스’ 개최,[한난 제공][헤럴드경제(성남)=박정규 기자] 한국지역난방공사(사장 정용기 이하 ‘...,헤럴드경제,박정규,0,0,0,0,0
120014,경제 일반,https://n.news.naver.com/mnews/article/374/000...,입력2023.08.24. 오전 11:20수정2023.08.24. 오전 11:26,현대카드 장 미셸 바스키아·앤디 워홀 전시 개최,[다음 달 5일부터 7일까지 서울 용산구 한남동에 위치한 현대카드 스토리지에서 '헤...,SBS Biz,오정인,0,0,0,0,0

In [ ]:
from ekonlpy import Mecab
mecab = Mecab()

In [ ]:
for index, row in article_df.iterrows():
    target = row['date']
    if '입력' in target and '수정' in target:
        target = target.split("수정")
        fix = target[1][:10]
        update = target[0][2:12]
        article_df.loc[index,"date_update"] = update
        article_df.loc[index,"date_fix"] = fix
    elif '입력' in target and '수정' not in target:
        target = target.split("입력")
        fix = "None"
        update = target[1][0:10]
        article_df.loc[index,"date_update"] = update
        article_df.loc[index,"date_fix"] = fix

article_df.head()

In [ ]:
article_df["date_update"]

In [ ]:
article_df = article_df.reset_index(drop=True)

In [ ]:
article_df.isnull().sum()

In [ ]:
article_clean_date_data_0918 = article_df.to_json(orient='records')

In [ ]:
# JSON 파일로 저장
with open('./data/article_data_date.json', 'w') as file:
    file.write(article_clean_date_data_0918)

In [4]:
article_df = pd.read_json('./data/news/article_data_date.json')

article_df.head()

,category,url,date,title,content,media,reporter,touched,analytical,wow,recommend,useful,date_update,date_fix
0,증권,https://n.news.naver.com/mnews/article/057/000...,입력2023.09.13. 오후 7:53수정2023.09.14. 오전 10:51,KT 가입자 146만 명 요금 잘못 빼갔다,【 앵커멘트 】 KT 쓰시는 분들 이번 달 결제된 요금 꼭 확인해 보시기 바랍니다...,MBN,오태윤,0,0,0,5,1,2023.09.13,2023.09.14
1,증권,https://n.news.naver.com/mnews/article/003/001...,입력2023.09.07. 오후 2:27수정2023.09.07. 오후 3:11,한화에어로스페이스 3853억 규모 한화오션 지분 취득,[서울=뉴시스] 김경택 기자 = 한화에어로스페이스는 한화오션 주식 1723만8522...,뉴시스,김경택,0,0,0,0,0,2023.09.07,2023.09.07
2,증권,https://n.news.naver.com/mnews/article/016/000...,입력2023.09.05. 오후 2:59수정2023.09.05. 오후 3:31,자이에스앤디 768억 규모 강릉 공동주택 신축사업 수주,[헤럴드경제=증권부] 자이에스앤디는 휴고파트너스와 강릉 송정동 공동주택 신축사업 계...,헤럴드경제,이지윤,0,0,0,0,0,2023.09.05,2023.09.05
3,증권,https://n.news.naver.com/mnews/article/243/000...,입력2023.09.13. 오후 9:39,[속보] 美 8월 소비자물가 3.7%↑…전월比 0.6%↑,[이코노미스트 마켓in 홍다원 기자] 미국 노동통계국은 13일(현지시간) 8월 소비...,이코노미스트,홍다원,5,0,1,0,0,2023.09.13,None
4,증권,https://n.news.naver.com/mnews/article/015/000...,입력2023.09.13. 오후 9:32수정2023.09.13. 오후 9:41,[속보] 美 8월 CPI 3.7% 상승…시장 예상치 소폭 웃돌아,이 기사는 국내 최대 해외 투자정보 플랫폼 한경 글로벌마켓에 게재된 기사입니다.워싱...,한국경제,정인설,6,3,0,1,0,2023.09.13,2023.09.13

In [ ]:
def get_pos(tokens):
  result = [token[0] for token in tokens if token[1] != 'SSO' and token[1] != 'SY' and token[1] != 'SF' and token[1] != 'SN' and token[1] != 'SSC' and token[1] != 'SC' and token[1] != 'EF'and token[1] != 'NR' and token[1] != 'JX' and token[1] != 'MAJ' and token[0] != "되" and token[0] != "기" and token[0] != "한다" and token[0] != "차" and token[0] != "면" and token[0] != "명" and token[0] != "화" and token[0] != "손" and token[0] != "대" and token[0] != "율" and token[0] != "인" and token[0] != "해" and token[0] != "할" and token[0] != "다" and token[0] != "해" and token[0] != "수" and token[0] != "말" and token[0] != "성" and token[0] != "원" and token[0] != "게" and token[0] != "있" and token[0] != "고" and token[0] != "주" and token[0] != "적" and token[0] != "은" and token[0] != "며" and token[0] != "한" and token[0] != "는" and token[0] != "했"]
  return result

def stop_words_pos(tokens):
  result = [token for token in tokens if not token in stop_words]
  return result

In [ ]:
article_df['title_pos'] = article_df['title'].apply(lambda x: mecab.pos(x))

In [ ]:
article_df['content_pos'] = article_df['content'].apply(lambda x: mecab.pos(x))

In [ ]:
article_tagging_data_0918 = article_df.to_json(orient='records')

# JSON 파일로 저장
with open('./data/article_tagging_data_0918.json', 'w') as file:
    file.write(article_tagging_data_0918)

In [ ]:
import pandas as pd

In [5]:
article_df = pd.read_json('/home/user/pandas/Recommendation_system/data/news/Sum_data_df.json')

article_df.head()

,platform_id,title,content,url,target_words,tokens
0,Daum,"하나금융·금감원, 청년 디지털 인재 양성",[하나금융이 지난 10일 인천 청라 하나글로벌캠퍼스에서 ‘하나 디지털 파워 온 프로...,https://v.daum.net/v/20230813183804289,"하나금융·금감원, 청년 디지털 인재 양성['하나금융이 지난 10일 인천 청라 하나글...",NaN
1,Daum,"4%대 예금 반갑기는 하지만… ""대출금리도 뛸까 불안""",[한동안 자취를 감췄던 은행의 연 4%대 정기예금 상품이 돌아왔다. 높아지는 예금금...,https://v.daum.net/v/20230815182032008,"4%대 예금 반갑기는 하지만… ""대출금리도 뛸까 불안""['한동안 자취를 감췄던 은행...",NaN
2,Daum,진옥동 회장 '수산물 소비 챌린지' 동참,[진옥동 신한금융그룹 회장(사진)이 17일 ‘수산물 소비 및 어촌휴가 장려 챌린지’...,https://v.daum.net/v/20230817190602225,진옥동 회장 '수산물 소비 챌린지' 동참['진옥동 신한금융그룹 회장(사진)이 17일...,NaN
3,Daum,정태영 야심작 ‘현대카드 다빈치모텔 2023’ 개최 한 달 앞으로,[현대카드는 9월 15일부터 17일까지 사흘간 서울 이태원에서 ‘현대카드 다빈치모텔...,https://v.daum.net/v/20230820182714833,정태영 야심작 ‘현대카드 다빈치모텔 2023’ 개최 한 달 앞으로['현대카드는 9월...,NaN
4,Daum,"HMM 인수전, 하림·동원·LX·독일 해운사 등 참전",[ 에이치엠엠(HMM·옛 현대상선) 매각 절차가 닻을 올렸다. 예비입찰이 마감된 2...,https://v.daum.net/v/20230821191510364,"HMM 인수전, 하림·동원·LX·독일 해운사 등 참전[' 에이치엠엠(HMM·옛 현대...",NaN

In [ ]:
only_tokens_df = article_df.drop(["url","date"],axis=1)

In [ ]:
only_tokens_df = only_tokens_df.drop(["recommend","useful","date_update","date_fix"],axis=1)

In [ ]:
only_tokens_df["content_pos"].head()

In [ ]:
#only_tokens_df['content_pos'] = only_tokens_df['content_pos'].apply(get_pos)
only_tokens_df['content_pos'] = only_tokens_df['content_pos'].apply(stop_words_pos)
only_tokens_df['title_pos'] = only_tokens_df['title_pos'].apply(get_pos)
only_tokens_df['title_pos'] = only_tokens_df['title_pos'].apply(stop_words_pos)
only_tokens_df['tokens'] = only_tokens_df['title_pos'] + only_tokens_df['content_pos']

In [ ]:
article_tokens_data_0919 = only_tokens_df.to_json(orient='records')

# JSON 파일로 저장
with open('./data/article_onky_tokens_data_0918.json', 'w') as file:
    file.write(article_tokens_data_0919)

file.close()

In [ ]:
file.close()

In [ ]:
tokens_df.drop_duplicates(subset="content_pos", keep='first', inplace=False, ignore_index=False)

In [1]:
import pandas as pd

In [2]:
tokens_df = pd.read_json('../data/news/daum_df_unique.json')

tokens_df

,platform_id,cat1_id,cat2_id,title,press,writer,date_upload,date_fix,content,url,sticker
0,Daum,Economy,finance,"하나금융·금감원, 청년 디지털 인재 양성",한국경제,이소현,2023. 8. 13. 18:38,2023. 8. 14. 00:32,[하나금융이 지난 10일 인천 청라 하나글로벌캠퍼스에서 ‘하나 디지털 파워 온 프로...,https://v.daum.net/v/20230813183804289,"{'Recommend': 0, 'Like': 0, 'Impress': 0, 'Ang..."
1,Daum,Economy,finance,"4%대 예금 반갑기는 하지만… ""대출금리도 뛸까 불안""",디지털타임스,이미선,2023. 8. 15. 18:20,2023. 8. 15. 19:16,[한동안 자취를 감췄던 은행의 연 4%대 정기예금 상품이 돌아왔다. 높아지는 예금금...,https://v.daum.net/v/20230815182032008,"{'Recommend': 1, 'Like': 2, 'Impress': 2, 'Ang..."
2,Daum,Economy,finance,진옥동 회장 '수산물 소비 챌린지' 동참,한국경제,None,2023. 8. 17. 19:06,2023. 8. 18. 00:36,[진옥동 신한금융그룹 회장(사진)이 17일 ‘수산물 소비 및 어촌휴가 장려 챌린지’...,https://v.daum.net/v/20230817190602225,"{'Recommend': 0, 'Like': 0, 'Impress': 0, 'Ang..."
3,Daum,Economy,finance,정태영 야심작 ‘현대카드 다빈치모텔 2023’ 개최 한 달 앞으로,국민일보,김준희,2023. 8. 20. 18:27,None,[현대카드는 9월 15일부터 17일까지 사흘간 서울 이태원에서 ‘현대카드 다빈치모텔...,https://v.daum.net/v/20230820182714833,"{'Recommend': 0, 'Like': 0, 'Impress': 0, 'Ang..."
4,Daum,Economy,finance,"HMM 인수전, 하림·동원·LX·독일 해운사 등 참전",한겨레,고한솔,2023. 8. 21. 19:15,2023. 8. 21. 23:10,[ 에이치엠엠(HMM·옛 현대상선) 매각 절차가 닻을 올렸다. 예비입찰이 마감된 2...,https://v.daum.net/v/20230821191510364,"{'Recommend': 0, 'Like': 0, 'Impress': 0, 'Ang..."
...,...,...,...,...,...,...,...,...,...,...,...
98827,Daum,Economy,world,"퀄컴, 애플에 아이폰 모뎀칩 3년 더 공급…주가 급등",한국경제,김정아,2023. 9. 11. 21:41,2023. 9. 11. 21:42,[퀄컴(QCOM)은 11일(현지시간) 애플(AAPL)에 아이폰용 모뎀칩을 최소 3년...,https://v.daum.net/v/20230911214104284,"{'Recommend': 1, 'Like': 0, 'Impress': 0, 'Ang..."
98828,Daum,Economy,world,"뉴욕증시, 테슬라 등 기술주 주도로 상승 출발",한국경제,김정아,2023. 9. 11. 23:19,2023. 9. 11. 23:20,[8월 CPI 발표를 앞둔 주의 첫 날인 11일(현지시간) 뉴욕증시는 테슬라와 퀄컴...,https://v.daum.net/v/20230911231902170,"{'Recommend': 0, 'Like': 0, 'Impress': 0, 'Ang..."
98829,Daum,Economy,world,“엔화 슬슬 오를 때 됐나”…일본은행 매파 발언에 금리 껑충,매일경제,신윤재 기자(shishis111@mk.co.kr),2023. 9. 11. 23:24,None,[앞서 우에다 총재는 지난 9일 요미우리신문과의 인터뷰에서 마이너스 금리 정책 해제...,https://v.daum.net/v/20230911232400194,"{'Recommend': 1, 'Like': 4, 'Impress': 0, 'Ang..."
98830,Daum,Economy,world,"KKR, USI 손해보험에 10억 달러 이상 투자…최대주주 등극",한국경제TV,엄수영,2023. 9. 11. 23:26,None,"[[한국경제TV 엄수영 기자], USI 보험은 기존 주주인 KKR이 최대주주가 되기...",https://v.daum.net/v/20230911232608210,"{'Recommend': 0, 'Like': 0, 'Impress': 0, 'Ang..."
98831,Daum,Economy,world,"""디즈니 VS 차터 케이블 방송중단 싸움 합의임박"" CNBC",한국경제,김정아,2023. 9. 11. 23:43,2023. 9. 11. 23:55,[월트 디즈니(DIS)와 거대 케이블 회사인 차터 커뮤니케이션(CHTR)의 케이블 ...,https://v.daum.net/v/20230911234302354,"{'Recommend': 0, 'Like': 0, 'Impress': 0, 'Ang..."

In [3]:
tokens_1 = pd.read_json('../data/news/naver_df_unique.json')

tokens_1

,category,url,date,title,content,media,reporter,touched,analytical,wow,recommend,useful,date_update,date_fix,platform_id
0,증권,https://n.news.naver.com/mnews/article/057/000...,입력2023.09.13. 오후 7:53수정2023.09.14. 오전 10:51,KT 가입자 146만 명 요금 잘못 빼갔다,【 앵커멘트 】 KT 쓰시는 분들 이번 달 결제된 요금 꼭 확인해 보시기 바랍니다...,MBN,오태윤,0,0,0,5,1,2023.09.13,2023.09.14,naver
1,증권,https://n.news.naver.com/mnews/article/003/001...,입력2023.09.07. 오후 2:27수정2023.09.07. 오후 3:11,한화에어로스페이스 3853억 규모 한화오션 지분 취득,[서울=뉴시스] 김경택 기자 = 한화에어로스페이스는 한화오션 주식 1723만8522...,뉴시스,김경택,0,0,0,0,0,2023.09.07,2023.09.07,naver
2,증권,https://n.news.naver.com/mnews/article/016/000...,입력2023.09.05. 오후 2:59수정2023.09.05. 오후 3:31,자이에스앤디 768억 규모 강릉 공동주택 신축사업 수주,[헤럴드경제=증권부] 자이에스앤디는 휴고파트너스와 강릉 송정동 공동주택 신축사업 계...,헤럴드경제,이지윤,0,0,0,0,0,2023.09.05,2023.09.05,naver
3,증권,https://n.news.naver.com/mnews/article/243/000...,입력2023.09.13. 오후 9:39,[속보] 美 8월 소비자물가 3.7%↑…전월比 0.6%↑,[이코노미스트 마켓in 홍다원 기자] 미국 노동통계국은 13일(현지시간) 8월 소비...,이코노미스트,홍다원,5,0,1,0,0,2023.09.13,None,naver
4,증권,https://n.news.naver.com/mnews/article/015/000...,입력2023.09.13. 오후 9:32수정2023.09.13. 오후 9:41,[속보] 美 8월 CPI 3.7% 상승…시장 예상치 소폭 웃돌아,이 기사는 국내 최대 해외 투자정보 플랫폼 한경 글로벌마켓에 게재된 기사입니다.워싱...,한국경제,정인설,6,3,0,1,0,2023.09.13,2023.09.13,naver
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111123,경제 일반,https://n.news.naver.com/mnews/article/015/000...,입력2023.08.24. 오전 11:28수정2023.09.02. 오전 12:02,"""내 부실기업 가져갈래?""…춘궁기 품앗이 나선 사모투자업계",이 기사는 국내 최대 해외 투자정보 플랫폼 한경 글로벌마켓에 게재된 기사입니다.글로...,한국경제,김리안,0,0,0,0,0,2023.08.24,2023.09.02,naver
111124,경제 일반,https://n.news.naver.com/mnews/article/018/000...,입력2023.08.24. 오전 11:24,"[속보]이창용 ""6명 금통위원 최종 금리 3.75%까지 열어둬야""",[이데일리 최정희 기자] 이창용 한국은행 총재 기자회견 -연내 금리 인하 가능성은 ...,이데일리,최정희,5,0,0,3,0,2023.08.24,None,naver
111125,경제 일반,https://n.news.naver.com/mnews/article/001/001...,입력2023.08.24. 오전 11:19수정2023.08.24. 오후 12:56,일본 원전 오염수 방류 임박…충남도 원자력연과 대응 TF 구성,환경정화운반선에도 해수 검사 장비…결과 누리집·전광판에 공개김태흠 일본 원전 오염수...,연합뉴스,김소연,0,0,0,0,0,2023.08.24,2023.08.24,naver
111126,경제 일반,https://n.news.naver.com/mnews/article/016/000...,입력2023.08.24. 오전 11:18,한국지역난방공사‘에너지 히어로 레이스’ 개최,[한난 제공][헤럴드경제(성남)=박정규 기자] 한국지역난방공사(사장 정용기 이하 ‘...,헤럴드경제,박정규,0,0,0,0,0,2023.08.24,None,naver
111127,경제 일반,https://n.news.naver.com/mnews/article/374/000...,입력2023.08.24. 오전 11:20수정2023.08.24. 오전 11:26,현대카드 장 미셸 바스키아·앤디 워홀 전시 개최,[다음 달 5일부터 7일까지 서울 용산구 한남동에 위치한 현대카드 스토리지에서 '헤...,SBS Biz,오정인,0,0,0,0,0,2023.08.24,2023.08.24,naver

In [4]:
98832 + 111128

209960

In [ ]:
# 필요한 라이브러리 import
from kobertopic import BERTopic
from kobert.utils import get_tokenizer
# KoBERT 모델과 토크나이저 로드
model_name = 'monologg/kobert'
tokenizer = get_tokenizer()
# 데이터 로드 및 전처리 (예시)
documents = [
    "첫 번째 문서입니다.",
    "두 번째 문서는 조금 다릅니다.",
    "세 번째 문서도 추가해 보겠습니다."
]
# KoBERTopic 객체 생성 및 학습
kobertopic_model = BERTopic(model_name=model_name, tokenizer=tokenizer)
topics, _ = kobertopic_model.fit_transform(documents)
# 일관성 검사 코드 (Coherence Score)
coherence_score = kobertopic_model.get_coherence()
print("토픽 개수:", len(topics))
print("토픽 별 문서 수:", kobertopic_model.get_topic_sizes())
print("일관성 점수:", coherence_score)